* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
 background: #cad8e2;
}

header {
    display: flex;
    justify-content: space-between;
    color: #7d94a6;
    background-color: #213815;
    background-image: url("../images/forest.jpg");
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    align-items: center;
    z-index: 9999;
}

h1 {
    color: #cad8e2;
    background-color: #7d94a6;
    border-radius: 10px;
    padding: 5px;
    font-size: 56px;
    text-shadow: 1px 5px 15px black;
    margin: 5px;
}

span {
    color: white;
}

a {
    text-decoration: none;
}

a:hover {
    color: #203017;
    transition: color 0.5s ease;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding: 1vw;
}
nav ul li a {
    font-size: 2vw;
    color: white;
    text-shadow: 1px 5px 15px black;
    padding: 20px;
}

.hero {
    color:#7d94a6;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-image: url("../images/forest.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    height: 45vh;
}

.hero img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 3px solid white;
    margin: 20px;
}

#about-me {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

h2 {
    display:flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    border-right: 3px solid black;
    padding: 16px;
    flex-wrap: wrap;
    width: 15%;
    text-align: right;
    font-size: 48px;;
}

section p {
    flex-wrap: wrap;
    width: 80%;
    padding: 20px;
    font-size: 36px;
}

#work {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.project-gallery {
    width: 85%;
}

.project {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid black;
}

.project:hover {
    border: 3px solid white;
    color: black;
    -webkit-transition: border 500ms ease-out;
    -moz-transition: border 500ms ease-out;
    -o-transition: border 500ms ease-out;
    transition: border 500ms ease-out;
}

.project p {
    color: #cad8e2;
    background-color: #7d94a6;
    border-radius: 10px;
    text-shadow: 1px 5px 15px black;
}

.project:hover p {
    font-size: 30px;
    transition: font-size 12s;
    -moz-transition: font-size 12s;
    -webkit-transition: font-size 0.5s;
    -o-transition: font-size 12s;
}

.run-buddy {
    background-image: url("../images/hero-bg.jpg");
    background-attachment: fixed;
    background-position: 90%;
    width: 76.5%;
    height: 400px;
    margin: 10px;
}

.other-projects {
    width: 80%;
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
}

.refactor, .robots, .tunalyze, .book-bits {
    width: 47%;
    margin: 5px;
    height: 500px;
}

.refactor {
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
}

.robots {
    background-image: url("../images/robot.jpg");
    background-size: cover;
}

.tunalyze {
    background-image: url("../images/Tunalyze Logo Notes Cropped (1).png");
    background-size: cover;
}


.book-bits {
    background-image: url("../images/bookshelf.jpg");
    background-size: cover;
}

footer a {
    color: white;
    font-size: 20px;
}

#contact {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background: #7d94a6;
    color: white;
}

/* laptops and smaller */
@media only screen and (max-width: 992px) {

    h1 {
        font-size: 4vw;
    }

    nav ul li a {
        font-size: 3vw;
        padding: 10px;
    }

    .hero {
        justify-content: space-around;
    }

    #about-me {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    h2 {
        display: block;
        left: auto;
        border-bottom: 3px solid black;
        border-right: none;
        width: auto;
        text-align: center;
        font-size: 4vw;
    }

    section p {
        padding: 10px;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
        font-size: 3vw;
    }

    #work {
        display: block;
    }

    .project-gallery {
        width: 100%;
    }

    .project-gallery p {
        display: inline;
        width:30%;
        font-size: 22px;
    }

    #work h2 {
        width: 100%;
    }

    .run-buddy {
        width: 95%;
        margin-left: 15px;
        background-attachment: unset;
        background-size: cover;
        background-position: 90%;
    }

    .other-projects {
        display: block;
        width: 100%;
    }

    .refactor, .robots, .tunalyze {
        width: 95%;
        margin: 5px;
        height: 200px;
    }

    footer a {
        font-size: 3vw;
    }

}